@using Prodavalnik.ViewModels
@{
    ViewData["Title"] = "Home Page";
}
@model IList<Product>
<div class="text-center">
   
     
   <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach(var items in Model)
                {
                    @Html.Partial("_ItemPartial", items);
                }
                
               
                </div>
            </div>
        </section>
         @if(ViewBag.TotalPages>1){
                    <div class="d-flex w-100 justify-content-center">
                        <pagination
                        page-count="@ViewBag.TotalPages" 
                        page-target="/"
                        page-number="@ViewBag.PageNumber"
                        page-range="@ViewBag.PageRange">
                    </pagination>
                    </div>
                    }
        
</div>

