@model SmallCardViewModel


@if (Model!=null)
{
    <i >Items in cart:<span class="badge badge-primary">@Model.NumberOfItems</span></i>
    <i>Total:<b>@Model.TotalAmount.ToString("C2")</b></i>
}
else
{
    <i class="lead m-0">Your card is empty</i>
}

